{% extends "base.html" %}
{% block title %}LONK - Welcome{% endblock %}

{% block head %} 
    {{ super() }}
{% endblock %} 

{% block header %} 
    {{ super() }}
{% endblock %} 

{% block content %}
<div class="row p-3">
    <h1>Log In</h1>
</div>

<div class="row p-3 mb-5">
    <form action="" method="post">
        <input type="text" class="form-control form-control-lg my-2" placeholder="E-Mail" value="{{ request.form.username }}">
        <input type="text" class="form-control form-control-lg my-2" placeholder="Password" value="{{ request.form.password }}">
    </form>

    <div class="col my-2 d-flex justify-content-end">
        <button type="button" class="btn btn-danger btn-lg submit-btn" value="Login">Login</button>
    </div>

    {% if error %}
     <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
    
    

</div>
{% endblock %}