{% extends "base.html" %}
{% block title %}LONK - Welcome{% endblock %}

{% block head %} 
    {{ super() }}
{% endblock %} 

{% block header %} 
    {{ super() }}
{% endblock %} 

{% block content %}
    <div class="col-sm-4">
        <div class="row"><p>password</p></div>
        <div class="row"><p>password</p></div>
        <div class="row"><p>password</p></div>
        <div class="row"><p>password</p></div>
        <div class="row"><p>password</p></div>
        <div class="row"><p>password</p></div>
        <div class="row"><p>password</p></div>
        
    </div>
    <div class="col">
        <h2>password content</h2>
    </div>
{% endblock %}